<div class="card">
  <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
    <div fxLayout="column" fxLayoutAlign="start center">
      
          <mat-form-field class="p-8 w-100-p" fxFlex appearance="fill" >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Password" type="email" formControlName="email">
          </mat-form-field>
        
          <mat-form-field class="p-8 w-100-p" fxFlex appearance="fill" >
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="example-button-row">
            <button mat-raised-button color="Primary" type="submit">Submit</button>
          </div>
    </div>
 
</form>
</div>

 