.card{
    left:42%; 
    top:37%; 
   /* margin: 0 auto; */
   position: absolute;
   box-shadow: 5px 5px 11px 1px rgb(0 0 255 / 20%);
   width: 350px;
    height: 193px;
}
.LoginForm{
   margin-top: 10px;
}