/* .ContentForm{
    left:50%; 
    top:50%;  
   margin: 0 auto;
    position: absolute;
} */


.LoginContent { 
    margin:10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.content-wrapper {
    box-shadow: 5px 5px 11px 1px rgb(0 0 255 / 20%);
    margin: 20px;

}

mat-form-field {
    margin: 10px;
}
.content-table {
    margin: 20px;
}
.mat-18 {
  cursor: pointer;
}
table {
    width: 100%;
}
button { 
    margin:10px; 
}
.mat-radio-button ~ .mat-radio-button {
    margin-trim: 5px;
  }
mat-sidenav-container{

}
mat-sidenav, mat-sidenav-content{
    padding:16px;

}
mat-sidenav{
    background-color:lightcoral;
    width: 200px;
}
