<div class="content-wrapper">
  <div>
    <mat-sidenav-container>
      
      <mat-sidenav mode="over" [(opened)]="opened">Side Nav</mat-sidenav>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <mat-sidenav-content>Main
        <button (click)="opened=!opened">Open</button>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <form class="LoginContent" [formGroup]="contentForm">   
          <div fxLayout="row" fxLayoutAlign="start center">
            
                  
             <div>
                  <mat-form-field class="example-full-width" appearance="fill" >
                  <mat-label>Employee Name</mat-label>
                  <input matInput placeholder="EmployeeName" type="name" formControlName="employeeName" (input)="onChangeEvent($event)">        
                  </mat-form-field>
                <div *ngIf="isSubmit && fv.employeeName.errors" class="errors-message">
                    <div *ngIf="fv.employeeName.errors.required" > Employee is required</div>
                </div> 
                
             </div>
      
                  
             <div>
            <mat-form-field class="example-full-width" appearance="fill" >
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="PhoneNumber" type="number" formControlName="phoneNumber" (input)="onChangeEvent($event)">
            </mat-form-field>
            <div *ngIf="isSubmit && fv.phoneNumber.errors" class="errors-message">
              <div *ngIf="fv.phoneNumber.errors.required" > Phone number is required</div>
              </div>
              </div> 
              
      
          <div>    
          <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Date Of Birth</mat-label>
            <input matInput placeholder="DeathOfBirth" type="date" formControlName="dateOfBirth" (input)="onChangeEvent($event)">
          </mat-form-field>
          <div *ngIf="isSubmit && fv.dateOfBirth.errors" class="errors-message">
            <div *ngIf="fv.dateOfBirth.errors.required" > Date is required</div>
            </div>
            </div> 
      
          <div>
          <mat-radio-group aria-label="Select an option" formControlName="gender" (input)="onChangeEvent($event)">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="isSubmit && fv.gender.errors" class="errors-message">
            <div *ngIf="fv.gender.errors.required" > Gender is required</div>
            </div>
          </div>
      
      
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div>
            <mat-form-field class="example-full-width" appearance="fill" >
              <mat-label>Department</mat-label>
              <mat-select formControlName="department"(input)="onChangeEvent($event)">
                <mat-option *ngFor="let department of departments" [value]="department.value">
                  {{department.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="isSubmit && fv.department.errors" class="errors-message">
              <div *ngIf="fv.department.errors.required" > Department is required</div>
              </div>
              </div> 
        
      
            <div>
            <mat-form-field class="example-full-width" appearance="fill" >
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" type="email" formControlName="email" (input)="onChangeEvent($event)">
            </mat-form-field>
            <div *ngIf="isSubmit && fv.email.errors" class="errors-message">
              <div *ngIf="fv.email.errors.required" > Email is required</div>
              </div>
              </div> 
          
            <div>
              <mat-form-field class="example-full-width" appearance="fill" >
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" type="name" formControlName="address" (input)="onChangeEvent($event)">
            </mat-form-field>
            <div *ngIf="isSubmit && fv.address.errors" class="errors-message">
              <div *ngIf="fv.address.errors.required" > Address is required</div>
              </div>
              </div> 
      
         
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button color="Primary" type="submit" [innerText]="'SUBMIT'" (click)="onSubmit()"></button>
              <button mat-raised-button color="Primary" [innerText]="'RESET'" (click) = "reset()"></button>
      
            </div>
          <!--<div>
              <mat-card >
                <mat-card-header>
                  <div mat-card-avatar></div>
                  <mat-card-title>Image</mat-card-title>
                  
                </mat-card-header>
                <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/800px-Anonymous_emblem.svg.png" alt="Image">
                </mat-card>
            </div>-->
            <!--<div>
              <h1>Image Upload</h1>
              <input type="file" (change)="onFileSelected($event)">
              <button type="button"(click)="onUpload()">Upload</button>
      
            </div>-->
      
      
          </div>
          <div>
            <img [src]="url" alt="image">
            <input type="file" (change)="selectFile($event)">
            <!--<button type="file" (change)="selectFile($event)">upload</button>-->
          </div>
        
          
      
        </form>
    

        
      </mat-sidenav-content>
 
    
    </mat-sidenav-container>
  </div> 
  
  </div>

  <div class="content-table">
    <table mat-table #table [dataSource]="EmployeeList" class="mat-elevation-z8">
    
          <ng-container matColumnDef="employeeName">
            <th mat-header-cell *matHeaderCellDef> Employee Name</th>
            <td mat-cell *matCellDef="let element"> {{element.employeeName }} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef>Date Of Birth </th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element;let i = index"> 
              <mat-icon class="mat-18"  (click)="updateEmployee(element, i)">edit</mat-icon>

              <mat-icon class="mat-18"  (click)="deleteEmployee(i)">delete</mat-icon>

            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div> 
      

<!-- <div>
  <mat-form-field class="example-full-width" appearance="fill" >
    <mat-label>Two way binding</mat-label>
    <input matInput [(ngModel)]="text">
   </mat-form-field>
   <div>
    <button mat-raised-button color="Primary" type="submit" [innerText]="'SUBMIT'" (click)="onClick()"></button>

   </div>
</div> -->
