<h2 mat-dialog-title>{{data.message}}</h2>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onYesClick()">Yes</button>
  <button mat-button color="warn" (click)="onNoClick()">No</button>
</div>


